*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	font-size: 14px;
	color: #333;
}
.exam-filter-wrapper{
	padding-left: 40px;
	border:1px solid #CCCCCC;
	position: relative;
	margin-bottom: 20px;
	line-height: 70px;
	box-shadow: 0 0 1px 2px #CCCCCC;
}
.exam-filter-wrapper .ant-select{
	margin-right: 40px;
}
.select-exam{
	float: left;
}
.compute-way{
	float: left;
	position: relative;
	left:10%;
}
.clearfix:after{
	content: '';
	clear:both;
}
.exam-filter-wrapper .ant-select-selection{
	border-radius: 
}
.compute-way .ant-radio-button-wrapper-checked{
	background-color: #0099CC;
	color: #FFFFFA;
}
.compute-way .ant-radio-button-wrapper{
	border-radius: 2px;
	padding:0 25px;
}
.rank-change-wrapper{
	margin:10px;
	padding-top: 10px;
	border:1px solid #CBCBCB;
}
.turn-on-pre-choose{
	position: absolute;
	right:20px;
}
.turn-on-pre-choose i{
	font-style: normal;
	padding:0 10px;
	font-size: 1rem;
}
.rank-change-header{
	line-height: 48px;
	margin:0 10px;
	border-bottom: 1px solid #CBCBCB;
	position: relative;
}
.rank-change-header h2{
	float: left;
	font-weight: normal;
	font-size: 1.2rem;
}
.rank-change-note{
	margin:5px 60px;
	padding:30px 0;
	border-top: 1px dotted #E4E4E4;
	font-size: 0.95rem;
	color: #666666;
}
.change-note b{
	font-weight: normal;
}
.indent-para{
	text-indent: 4.7rem;
}
.rank-change-table{
	padding:20px 30px;
	font-size: 0.95rem;
	text-align: center;
}
.rank-change-table tr{
	line-height: 28px;
}
.change-rank-info{
	padding:25px;
}
.change-rank-info i{  
    border-width: 8px;   
    border-style: dashed;  
    border-left-color: transparent;  
    border-right-color: transparent;
	position: relative;
}
.change-rank-info em{
	width: 2px;
	height: 25px;	
	display: inline-block;
	position: relative;
	left: -9px;
    top: 4px;
}
em.rank-up{
	background-color: #FD3C0F;
}
em.rank-down{
	background-color: #009866;
	left: -6px;
}
i.rank-down{
    border-bottom-width: 0; 
	color: #009866;
	top:23px;
	left: 3px;
}
i.rank-up{
	color: #FD3C0F;	
    border-top-width: 0;
    top:-26px;
}
em.rank-up:before{
	content:'+';
	left: 3px;
    top: -4px;
    position: relative;
}
.isGrey{
	color:#999999;
}
.is-show-change{
	display: none;
}
.rank-change-table table{
	padding:16px 0;
}
.rank-change-table th{
	font-weight: normal;
}
.rank-change-table td{
	width:8rem;
}
.score-type{
	padding:0 2rem;
}
.class-select-wrapper{
	display: inline-block;
}
.show-all-students{
	text-align: center;
	cursor: pointer;
	color:#999999;
}
.table-section{
	border-bottom: 1px dotted #fff;
}
.rank-change-arrow .rank-data{
	position: relative;
	left: 38px;
}
.rank-change-arrow .change-rank-info{
	position: relative;
	left: 20px;
}