doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/style.css')
    link(rel='stylesheet', href='/styles/antd.min.css')
    link(rel='stylesheet', href="/main.css")
    script(type='text/javascript', href='/js/jquery.js')
  body
    block content
