doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/main.css')
    link(rel='stylesheet', href='/antd.min.css')
    script(type='text/javascript', href='/jquery.min.js')
  body
    block content
